In [1]:
import pandas as pd

In [2]:
data_vic = pd.read_csv('external_data_vic.csv')

In [3]:
data_vic.head()

,Date,AirPort,Max TemperatureC,MeanDew PointC,Max Humidity,Max Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,...,2016,2015,2017GDPPerCapita,Weekday,Weekend,Weekend_approx,Busiest_top5,National_holidays,State_holidays,OtherAirports
0,2011-09-01,ATL,35,18,79,1022,16,16,11,19,...,50501858,49340732,56840.0,3,0,0,1,0,0,0
1,2011-09-02,ATL,36,15,61,1019,16,16,16,24,...,50501858,49340732,56840.0,4,0,1,1,0,0,0
2,2011-09-03,ATL,35,16,64,1015,16,16,16,19,...,50501858,49340732,56840.0,5,1,0,1,0,0,0
3,2011-09-04,ATL,27,19,93,1014,16,14,4,21,...,50501858,49340732,56840.0,6,1,1,1,0,0,0
4,2011-09-05,ATL,26,22,94,1010,16,13,3,32,...,50501858,49340732,56840.0,0,0,0,1,1,1,0

In [4]:
data_sarah = pd.read_csv('external_data_sarah.csv')

In [5]:
data_sarah.head()

,Date,AirPort,Max TemperatureC,MeanDew PointC,Max Humidity,Max Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,...,2017,2016,2015,2017GDPPerCapita,HigherTraffic_Dates,M,N,S,W,OtherAirports
0,2011-09-01,ATL,35,18,79,1022,16,16,11,19,...,50251964,50501858,49340732,56840.0,0,0,0,1,0,0
1,2011-09-02,ATL,36,15,61,1019,16,16,16,24,...,50251964,50501858,49340732,56840.0,1,0,0,1,0,0
2,2011-09-03,ATL,35,16,64,1015,16,16,16,19,...,50251964,50501858,49340732,56840.0,0,0,0,1,0,0
3,2011-09-04,ATL,27,19,93,1014,16,14,4,21,...,50251964,50501858,49340732,56840.0,1,0,0,1,0,0
4,2011-09-05,ATL,26,22,94,1010,16,13,3,32,...,50251964,50501858,49340732,56840.0,1,0,0,1,0,0

In [6]:
data_sarah = data_sarah[['Date', 'AirPort', 'HigherTraffic_Dates', 'M', 'N', 'S', 'W']]
data_sarah.head()

         Date AirPort  HigherTraffic_Dates  M  N  S  W
0  2011-09-01     ATL                    0  0  0  1  0
1  2011-09-02     ATL                    1  0  0  1  0
2  2011-09-03     ATL                    0  0  0  1  0
3  2011-09-04     ATL                    1  0  0  1  0
4  2011-09-05     ATL                    1  0  0  1  0

In [7]:
data = pd.merge(data_vic, data_sarah, how='left', left_on=['Date', 'AirPort'], right_on=['Date', 'AirPort'])
data.head()

,Date,AirPort,Max TemperatureC,MeanDew PointC,Max Humidity,Max Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,...,Weekend_approx,Busiest_top5,National_holidays,State_holidays,OtherAirports,HigherTraffic_Dates,M,N,S,W
0,2011-09-01,ATL,35,18,79,1022,16,16,11,19,...,0,1,0,0,0,0,0,0,1,0
1,2011-09-02,ATL,36,15,61,1019,16,16,16,24,...,1,1,0,0,0,1,0,0,1,0
2,2011-09-03,ATL,35,16,64,1015,16,16,16,19,...,0,1,0,0,0,0,0,0,1,0
3,2011-09-04,ATL,27,19,93,1014,16,14,4,21,...,1,1,0,0,0,1,0,0,1,0
4,2011-09-05,ATL,26,22,94,1010,16,13,3,32,...,0,1,1,1,0,1,0,0,1,0

In [9]:
data_csv = data.to_csv('external_data.csv', index = None, header=True) 
#Don't forget to add '.csv' at the end of the path
print(data)

             Date AirPort  Max TemperatureC  MeanDew PointC  Max Humidity  \
0      2011-09-01     ATL                35              18            79
1      2011-09-02     ATL                36              15            61
2      2011-09-03     ATL                35              16            64
3      2011-09-04     ATL                27              19            93
4      2011-09-05     ATL                26              22            94
...           ...     ...               ...             ...           ...
11035  2013-03-01     LGA                 7              -3            76
11036  2013-03-02     LGA                 4              -5            82
11037  2013-03-03     LGA                 4              -8            69
11038  2013-03-04     LGA                 5              -8            63
11039  2013-03-05     LGA                 9              -5            61

       Max Sea Level PressurehPa  Max VisibilityKm  Mean VisibilityKm  \
0                           1022                16                 16
1                           1019                16                 16
2                           1015                16                 16
3                           1014                16                 14
4                           1010                16                 13
...                          ...               ...                ...
11035                       1008                16                 16
11036                       1008                16                 15
11037                       1008                16                 15
11038                       1012                16                 16
11039                       1016                16                 16

       Min VisibilitykM  Max Wind SpeedKm/h  ...  Weekend_approx  \
0                    11                  19  ...               0
1                    16                  24  ...               1
2                    16                  19  ...               0
3                     4                  21  ...               1
4                     3                  32  ...               0
...                 ...                 ...  ...             ...
11035                16                  34  ...               1
11036                 6                  34  ...               0
11037                 8                  39  ...               1
11038                16                  47  ...               0
11039                16                  39  ...               0

       Busiest_top5  National_holidays  State_holidays  OtherAirports  \
0                 1                  0               0              0
1                 1                  0               0              0
2                 1                  0               0              0
3                 1                  0               0              0
4                 1                  1               1              0
...             ...                ...             ...            ...
11035             0                  0               0              1
11036             0                  0               0              1
11037             0                  0               0              1
11038             0                  0               0              1
11039             0                  0               0              1

       HigherTraffic_Dates  M  N  S  W
0                        0  0  0  1  0
1                        1  0  0  1  0
2                        0  0  0  1  0
3                        1  0  0  1  0
4                        1  0  0  1  0
...                    ... .. .. .. ..
11035                    1  0  1  0  0
11036                    0  0  1  0  0
11037                    1  0  1  0  0
11038                    0  0  1  0  0
11039                    0  0  1  0  0

[11040 rows x 40 columns]